<h1>Here are a list of countries</h1>


    <% countryList.forEach(country =>{ %>
        <div>
        <h3> Country: <%= country.name %></h3> 
       <h4>Currency: <%= country.currency %></h4>
        </div>
    
    <% }) %>